.nhsuk-do-dont-list ol > li:last-child, .nhsuk-do-dont-list ul > li:last-child, .nhsuk-do-dont-list .nhsuk-list > li:last-child {
  margin-bottom: 0px;
}
.nhsuk-do-dont-list p {
  margin-bottom: 0px;
}

@media (min-width: 40.0625em) {
  ol > li, ul > li, .nhsuk-list > li {
    margin-bottom: 820px;
  }
}