// ==========================================================================
// COMPONENTS / #
// ==========================================================================


// Make thicker divider above View all ... topics
.nhsuk-card__actions {
    border-top: 6px solid #d8dde0;
}




// Change row background colour on hover -------------------
//.nhsuk-list--border li {
//    border-bottom: 1px solid #d8dde0;
//    padding: 16px 0 16px;
//    margin-bottom: 0px;
    //background-color: #d8dde0;
//}

//.az-row li:hover {
//    border-bottom-color: #aeb7bd;
//    background-color: #eff6fd;
//    text-decoration: none;
//    border-bottom: 1px solid #aeb7bd;
//}



