
.nhsuk-button--login {
    background-color: #005eb8;
    box-shadow: 0 4px 0 #002f5c;
}

.nhsuk-button--login:hover {
    background-color: rgb(0, 62.7347826087, 122.8);
}

.nhsuk-button--login:active, .nhsuk-button--login:active:focus {
    box-shadow: none;
    color: #fff;
    background-color: #002f5c;
    top: 4px;
}

