{% extends 'template-nhs-no-my-account.html' %}

<!-- some custom css padding for the page -->
{% set mainClasses = 'nhsuk-u-padding-top-0' %}

{% block pageTitle %}
 Log in
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}


{% block beforeContent %}
<!-- Breadcrumbs -->
<div class="nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-3">
  <div class="nhsuk-back-link"><a data-qa="back-link" class="nhsuk-back-link__link" href="login">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="nhsuk-icon nhsuk-icon__chevron-left"><path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path></svg>
    <span data-qa="back-link-text">Back to: Log in</span></a>
  </div>
</div>
{% endblock %}


{% block content %}
<br>
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        Forgot password
      </h1>

    
      <section>
        <p>Enter your email below. If there's an NHS account using this email we'll send a reset password link.</p>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email-address">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="email-address" name="emailAddress" type="text">
        </div>

        <a href="" role="button" draggable="false" class="nhsuk-button ">
          Continue
        </a>
       
      </section>
    


    </div>

</div>

{% endblock %}


{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
